[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
python-dotenv = "*"
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
sqlalchemy = "*"
werkzeug = "*"
wtforms = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
gensim = "*"

[requires]
python_version = "3.8"
